
 .toggleButton:checked + label svg #heart {
    transform: scale(0.2);
    fill: rgb(67, 67, 248);
    animation: animateHeart 0.3s linear forwards 0.25s;
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #dd4688;
   }
    55% {
        transform: scale(11);
        opacity: 1;
        fill: #d46abf;
   }
    65% {
        transform: scale(12);
        opacity: 1;
        fill: #cc8ef5;
   }
    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.5;
   }
    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.2;
   }
    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.1;
   }
    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0;
   }
}
@keyframes animateHeart {
    0% {
        transform: scale(0.2);
   }
    40% {
        transform: scale(1.2);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
   }
    100% {
        transform: scale(1);
   }
}